.jumbotron {
  background-color: bisque;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border : 1px, grey;
  margin: 5px, 5px;
  padding-top: 20px;
}
.form-bimbingan .form-label{
  font: grey;
}
.btn.btn-primary {
  background-color: rgb(187, 84, 84);
  border: 1px, grey;
}
.formatas{
  text-align: center;
}